@media (max-width: 1015px) {
    .stock__items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .stock {
        padding: 40px;
    }
    .stock__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 995px) {
    .popular__items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .popular {
        padding: 40px;
    }
    .popular__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 975px) {
    .menu {
        display: none;
        position: absolute;
        padding: 0;
        top: 87px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid #000;
        z-index: 5;
    }
    .menu a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #000;
        background-color: #ffcc00;
    }
    .btn__menu {
        display: block;
    }
    .header__inner {
        padding: 0;
    }
}

@media (min-width: 975px) {
    .menu {
        display: flex !important;
    }
}

@media (max-width: 795px) {
    .service__items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .service {
        padding: 40px;
    }
    .service__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 745px) {
    .header__feedbacks {
        display: grid;
    }
    .header__feedback {
        padding: 10px;
    }
    .header__phone {
        margin-bottom: 15px;
    }
}

@media (max-width: 685px) {
    .advantage__items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .advantage {
        padding: 40px;
    }
    .advantage__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 565px) {
    .header__inner {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .btn__menu {
        padding-top: 50px;
    }
    .header__phone {
        margin: 0 0 15px 0;
    }
}

@media (max-width: 565px) {
    .map__contact {
        width: 290px;
        padding: 50px 0 53px 30px;
        margin: 80px -8px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__phone-number {
        text-align: left;
    }
    .footer__logo {
        margin-bottom: 15px;
    }
    .copyright {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: baseline;
    }
    .footer__feedback {
        margin-bottom: 10px;
    }
    .service__item {
        width: 100%;
    }
}