* {
    box-sizing: border-box;
}

body {
    font-family: 'GothamPro', sans-serif;
    color: #292929;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #292929;
}

h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    align-items: center;
    height: 130px;
    justify-content: space-between;
    position: relative;
    padding-bottom: 30px;
}

.header__logo,
.footer__logo {
    display: flex;
    align-items: center;
}

.header__logo img,
.footer__logo img {
    width: 38px;
    height: 40px;
    margin-right: 14px;
}

.logo {
    display: flex;
}

.header__logo-text,
.footer__logo-text {
    display: block;
}

.header__logo-name {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    height: 14px;
    margin-bottom: 9px;
}

.header__logo-tagline {
    font-size: 11px;
    line-height: 22px;
    font-weight: 300;
    color: #969696;
    height: 10px;
}

.header__feedbacks {
    display: flex;
}
.header__phone {
    margin: auto 30px;
}
.header__phone-number {
    height: 13px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 10px;
}
.header__phone-text {
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    color: #969696;
    height: 8px;
    text-align: right;
}
.header__feedback {
    border: 2.0px solid #292929;
    background-color: transparent;
    padding: 15px 24px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'GothamPro', sans-serif;
}

.menu {
    position: absolute;
    top: 100px;
    background-color: #ffcc00;
    height: 60px;
    width: 940px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 26px 60px;
    align-items: center;
    z-index: 5;
}

.btn__menu {
    width: 40px;
    display: none;
}
.btn__menu div {
    height: 7px;
    background-color: #ffcc00;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #000000;
}

.slider {
    background: #303030 url(../img/slider.jpg) center no-repeat;
    height: 550px;
    color: #ffffff;
}
.slider__title {
    padding-top: 170px;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.slider__title-descr {
    max-width: 245px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 65px;
}
.slider__button-catalog {
    display: flex;
    align-items: center;

}
.slider__button {
    font-family: 'GothamPro', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #0d0d0d;
    background-color: #ffd200;
    border: none;
    padding: 20px 30px;
    margin-right: 31px;
}
.slider__catalog {
    font-size: 12px;

    line-height: 22px;
    font-weight: 300;
}
.slider__catalog a {
    line-height: 22px;
    text-decoration: underline;
    color: #ffffff;
    font-weight: 500;
}

.stock {
    padding: 75px;
}
.stock__items {
    display: flex;
    justify-content: space-between;
}
.stock__item {
    margin: 5px 0;
    width: 300px;
    border: 2.0px solid #f6f6f6;
    text-align: center;
}
.stock__item-img {
    min-height: 215px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stock__item-title {
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 19px;
}
.stock__item-descr {
    font-size: 13px;
    font-weight: 300;
    color: #626262;
    margin: 0 auto 29px;
    max-width: 225px;
}
.stock__item-price {
    font-size: 16px;
    font-weight: bold;
    color: #0f0f0f;
    margin-bottom: 32px;
}
.stock__item-button {
    font-family: 'GothamPro', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #0d0d0d;
    background-color: #ffd200;
    border: none;
    padding: 20px 55px;
    margin: 0 60px 36px;
}

.advantage {
    background-color: #f4f4f4;
    padding: 75px;
}
.advantage__items {
    display: flex;
    justify-content: space-between;
}
.advantage__item {
    width: 300px;
    border: 2.0px solid #ffffff;
    text-align: center;
    margin: 5px 0;
}
.advantage__item:hover {
    background-color: #fff;
    box-shadow: 4px 8px 21px 0px rgba(0,0,0,0.05);
}
.advantage__item-img {
    margin: 40px auto;
}
.advantage__items-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}
.advantage__items-text {
    margin-bottom: 43px;
    padding: 0 30px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.popular {
    padding: 75px;
}
.popular__items {
    display: flex;
    justify-content: space-between;
}
.popular__item {
    margin: 5px 0;
    text-align: center;
    width: 220px;
    border: 2.0px solid #f6f6f6;
    padding: 20px;
}
.popular__item-img {
    margin-bottom: 20px;
    position: relative;
}
.promo::after {
    content: "Акция";
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff0000;
    padding: 7px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
.popular__item-title {
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 24px;
}
.popular__item-price {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}
.popular__item-oldprice {
    font-size: 10px;
    font-weight: 400;
    color: #979797;
}
.popular__item-newprice {
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
}
.popular__item-normalprice {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.popular__item-button {
    font-size: 12px;
    font-weight: bold;
    color: #0d0d0d;
    background-color: #ffd200;
    padding: 20px 70px;
}

.service {
    background-color: #f4f4f4;
    padding: 75px;
}
.service__title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}
.service__items {
    display: flex;
    justify-content: space-between;
}
.service__item {
    border: 2.0px solid #ffffff;
    text-align: center;
    width: 300px;
    margin: 5px 0;
}
.service__item-img {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service__item-title {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 39px;
}

.map {
    background: url(../img/map.jpg) no-repeat center;
    height: 520px;
    position: relative;
}
.map__contact {
    background-color: #fff;
    height: 380px;
    width: 360px;
    float: right;
    margin: 80px 0;
    padding: 60px 0 53px 60px;
    text-align: left;
}
.map__contact-title {
    text-align: left;
    margin-bottom: 45px;
}
.map__contact-info {
    padding: 0 78px 0 30px;
    font-size: 14px;
}
.map__contact-phone {
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
}
.map__contact-phone::before {
    content: url(../img/contact1.png);
    position: absolute;
    top: 0;
    left: -30px;
}
.map__contact-address {
    margin-bottom: 40px;
    font-weight: 400;
    position: relative;
}
.map__contact-address::before {
    content: url(../img/contact2.png);
    position: absolute;
    top: 0;
    left: -30px;
}
.map__contact-email {
    font-weight: 400;
    text-decoration: underline;
    position: relative;
}
.map__contact-email::before {
    content: url(../img/contact3.png);
    position: absolute;
    top: 0;
    left: -30px;
}

.footer {
    background-color: #292929;
    padding: 50px 0;
    color: #fff;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 30px;
    color: #fff;
}
.footer__logo-text {
    color: #fff;
}
.footer__logo-name {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    height: 14px;
    margin-bottom: 9px;
}
.footer__logo-tagline {
    font-size: 11px;
    line-height: 22px;
    font-weight: 300;
    height: 10px;
}

.footer__phone-number {
    height: 13px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 10px;
}
.footer__phone-text {
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    height: 8px;
}
.footer__feedback {
    color: #fff;
    border: 2.0px solid #fff;
    background-color: transparent;
    padding: 15px 24px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'GothamPro', sans-serif;
}

.copyright {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    align-items: flex-end;
}

